# Excluding docker compose override
docker-compose.override.yml

# Excluding directories where database files are stored
web/*/mysql/data/**

# Excluding __pycache__ directories
__pycache__/
web/**/*.env
web/factory/.pytest_cache
